<!DOCTYPE html>
<html>
<head>
	<title>Gastronomeal</title>
	<link rel="stylesheet" type="text/css" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
	<style type="text/css">
		.largerfont{
			font-size: 1.5em;
			font-weight: 50%;
			color: #186ef9;
		}
		h3{
			color: blue;
			text-decoration: underline;
		}
	</style>
</head>
<body>

<div class="container">
	<div class="jumbotron col-xs-12">
		<h2>Announcement:</h2>
		<h4>Our original website is under maintenance. Please message your order to us at <a href="https://www.facebook.com/gastronomeal/" target="_blank">https://www.facebook.com/gastronomeal/</a> with the following details:</h4>
		<div class="row">
			<ul class="col-xs-6 largerfont">
				<h3>Details</h3>
				<li>Name:</li>
				<li>Phone Number:</li>
				<li>Location:</li>
				<li>Order:</li>
			</ul>
			<ul class="col-xs-6 largerfont">
				<h3>Example</h3>
				<li>Name: Edwin Lee</li>
				<li>Phone Number: 012-3456789</li>
				<li>Location: Sunway Monash Residence</li>
				<li>Order: C1 Sesame Sauce Chicken (qty: 1, price: RM7.00), F3: Laksa (S) (qty:1, price: RM 8.50)</li>
			</ul>
		</div>

		<h4>Sorry for any inconvenience caused.</h4>
	</div>

	<div class="row">
		<h2 class="col-xs-12">Menu</h2>
		<img class="col-xs-12" src="1.jpg">
		<img class="col-xs-12" src="2.jpg">
		<img class="col-xs-12" src="3.jpg">
		<img class="col-xs-12" src="4.jpg">
	</div>

</div>

</body>
</html>